<div class="sidenav">
    <div class="name">
        <h1>Hi,</h1>
        <h1>Burgo</h1>
    </div>
    
    <div class="sidenav-items">
        <a class="links" routerLink="/dashboard">
            <button class="dashboard">
                <div class="img">
                    <img src="../../../assets/dashboard-white.png" alt="">
                    <img class="top-img" src="../../../assets/dashboard-green.png" alt="">
                </div>
                <div>Dashboard</div>
            </button>
        </a>
        <a class="links" routerLink="/applications">
            <button class="dashboard">
                <div class="img">
                    <img src="../../../assets/applications-white.png" alt="">
                    <img class="top-img" src="../../../assets/applications-green.png" alt=""> 
                </div>
                <div>Applications</div>
            </button>
        </a>
        <a class="links" routerLink="/scholarships">
            <button class="dashboard">
                <div class="img">
                    <img src="../../../assets/scholarships-white.png" alt="">
                    <img class="top-img" src="../../../assets/scholarships-green.png" alt="">
                </div>
                <div>Scholarships</div>
            </button>
        </a>
        <br>
        <br>
        <br>
        <br>
        <a class="links" routerLink="/notifications">
            <button class="dashboard">
                <div class="img">
                    <img src="../../../assets/notification-white.png" alt="">
                    <img class="top-img" src="../../../assets/notification-green.png" alt="">
                </div>
                <div>Notifications</div>
            </button>
        </a>
        <a class="links" routerLink="/messages">
            <button class="dashboard">
                <div class="img">
                    <img src="../../../assets/email-white.png" alt="">
                    <img class="top-img" src="../../../assets/email-green.png" alt="">
                </div>
                <div>Messages</div>
            </button>
        </a>
        <a class="links" routerLink="/logout">
            <button class="dashboard">
                <div class="img">
                    <img src="../../../assets/logout-white.png" alt="">
                    <img class="top-img" src="../../../assets/logout-green.png" alt="">
                </div>
                <div>Logout</div>
            </button>
        </a>


        <br>
        <br>
        <br>
        <br>
        <br>
        <a class="links" routerLink="/help">
            <button class="dashboard">
                <div class="img">
                    <img src="../../../assets/help-white.png" alt="">
                    <img class="top-img" src="../../../assets/help-green.png" alt="">
                </div>
                <div>help</div>
            </button>
        </a>
    </div>
</div>

<script defer src="./script.js"></script>

