<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../homepage/homepage.component.scss">
</head>
<body>
    <div class="topnav">
        <div class="topnav-first">
            <img src="../../../assets/logooo.png" alt="">
        </div>
        <div class="topnav-mid">
            <div>Home</div>
            <div><a style="text-decoration: none !important; color: #00575e;" href="/login">Login</a></div>
            <div><a style="text-decoration: none !important; color: #00575e;" href="/register">Register</a></div>
            <div><a  style="text-decoration: none !important; color: #00575e;" href="/scholarships">Scholarships</a></div>
        </div>
        <div class="topnav-end">
            <div>
                <input type="text" placeholder="Search...">
            </div>
        </div>
    </div>
    
    <div class="screen">
        <div class="title">
            <p class="scholarshiptext">Scholarship</p>
            <p class="findertxt">Finder</p>
            <p class="title-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem explicabo vero consectetur veritatis nulla necessitatibus ipsam aliquid a ipsum perspiciatis amet animi </p>
        </div>
        <div class="picture">
            <img src="../../../assets/picture.png" alt="">
        </div>
    </div> 
</body>
</html>
