.topnav {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
}

.topnav-first {
    flex: 1;
}
.topnav-first img {
    height: 100%;
}

.topnav-mid {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.topnav-mid div {
    margin-right: 70px;
    color: #00575e;
    text-decoration: none;
}

.topnav-end {
    display: flex;
    flex: 1;
    align-items: end;
}

.topnav-end input{
    padding: 10px 20px;
    border-color: #ffb74b;
    border-radius: 20px;
    border-style: none;
    color: #ffb74b;
}


.screen {
    display: flex;
}

.title {
    flex: 2;
    text-align: center;
    margin: auto;
  width: 50%;
}


.picture {
    width: 1000px;
}

.picture img {
    width: 100%;
}

.scholarshiptext {
    color: #00575e;
    margin: 0;
    letter-spacing: 6px;
    font-size: 80px;
    text-align: end;
}

.findertxt {
    color: #ffb74b;
    margin: 0;
    letter-spacing: 6px;
    font-size: 80px;
    text-align: end;
}

.title-details {
    margin-top: 50px;
    text-align: justify;
    text-justify: auto;
    margin-left: 50px;
    line-height: 35px;
    color: #7c7e80;
    margin-right: 20px;
}

.find {
    border-style: solid;
    border-color: #ffb74b;
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-family: 'Lemon/Milk', sans-serif;
    font-family: 'Lemon/Milk light', sans-serif;
    letter-spacing: 3px;
}

.find:hover {
    background-color: #ffb74b;
    color: white;
}

.scholarships {
    margin-left: 100px;
}

.scholarships h2{
    color: #00575e;
}

.scholarship-cards {
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
}

.cards {
    background-color: #e4eef8;
    width: 300px;
    height: 300px;
    margin-right: 50px;
}

.empty {
    height: 220px;
}

.cards p {
    color: #00575e;
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.about {
    margin-left: 100px;
    margin-bottom: 100px;
}

.about h2 {
    color: #00575e;
}

.container-about {
    width: 90%;
    height: 500px;
    display: flex;
    margin-top: 50px;
}

.picture-about {
    width: 500px;
    height: 500px;
    background-color:white;
}

.details-about  div{
    width: 600px;
    height: 150px;
    margin-left: 150px;
    margin-top: 50px;
}

.details-about {
    margin-top: 30px;
}

.one {
    background-color: #00575e;
}

.two {
    background-color:#ffb74b;
}