<h1>NOtifications</h1>

<div class="container">
    <div class="notif">
        <div class="circle">
        </div>
        <div class="details">
            <div class="title-comment">Comment</div>
            <div class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, corrupti?</div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <br>
    <div class="notif">
        <div class="circle">
        </div>
        <div class="details">
            <div class="title-message">Message</div>
            <div class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, corrupti?</div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <br>
    <div class="notif">
        <div class="circle">
        </div>
        <div class="details">
            <div class="title-accepted">Accepted</div>
            <div class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, corrupti?</div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <br>
    <div class="notif">
        <div class="circle">
        </div>
        <div class="details">
            <div class="title-denied">Denied</div>
            <div class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, corrupti?</div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <br>
    <div class="notif">
        <div class="circle">
        </div>
        <div class="details">
            <div class="title-wait">waitlisted</div>
            <div class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, corrupti?</div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <br>
</div>