<div class="topnav">
  <div class="topnav-first">
      <img src="../../../assets/logooo.png" alt="">
  </div>
</div>

<div class="screen">
  <div class="details-container">
    <p class="create">LOGIN</p>
    <p class="create-dets">Find scholarship from all over the <br> philippines through our website</p>
    <p class="email">Username</p>
    <div class="input">
      <input type="email" placeholder="email@yahoo.com">
      <p>Password</p>
      <input type="email" placeholder="password">
      <button class="btn-email">Continue with Email</button>
      <br>
      <br>
      <br>
      <p class="title"> Or</p>
    </div>
    <br>
    <div class="input">
      <button class="btn-facebook">Continue with Facebook</button>
      <button class="btn-phone ">Continue with Phone Number</button>
    </div>

    
  </div>
  <div class="picture-container">
    <img src="../../assets/picture1.png" alt="">
  </div>
</div>