<h1>Dashboard</h1>


<div style="display: flex;">
    <div class="scholarships">
        <div>
            <p>Scholarships</p>
        </div>
    
        <div class="items">
            <div class="scholarship-items">
    
            </div>
            <div class="scholarship-items">
        
            </div>
            <div class="scholarship-items">
        
            </div>
    
        </div>
    </div>

    <div class="messages">
        <p>Messages</p>
        <div class="people">
            <div class="profile-messages">
            </div>

            <div class="name">
                Aeron Garcia
            </div>
        </div>
        <div class="people">
            <div class="profile-messages">
            </div>

            <div class="name">
                Aeron Garcia
            </div>
        </div>
        <div class="people">
            <div class="profile-messages">
            </div>

            <div class="name">
                Aeron Garcia
            </div>
        </div>
        <div class="people">
            <div class="profile-messages">
            </div>

            <div class="name">
                Aeron Garcia
            </div>
        </div>
        

    </div>

</div>


<div style="display: flex;">
    <div class="scholarships">
        <div>
            <p>Applications</p>
        </div>
    
        <div class="a-items">
            <div class="applications-items">
    
            </div>
            <div class="applications-items">
        
            </div>
            <div class="applications-items">
        
            </div>
            <div class="applications-items">
    
            </div>
            <div class="applications-items">
        
            </div>
            <div class="applications-items">
        
            </div>
    
        </div>
    </div>

    <div class="messages">
        <p>Notifications</p>
        <div class="people">
            <div class="profile-notif">
            </div>

            <div class="name">
                Aeron Garcia
            </div>
        </div>
        <div class="people">
            <div class="profile-notif">
            </div>

            <div class="name">
                Aeron Garcia
            </div>
        </div>
        <div class="people">
            <div class="profile-notif">
            </div>

            <div class="name">
                Aeron Garcia
            </div>
        </div>
        

    </div>

</div>