<h1>Help</h1>


<div class="container">
    <div class="address">
        <div class="img">
            <img src="../../../assets/pin.png" alt="">
        </div>
        <div class="address-details">
            <h4>Our Main Office</h4>
            <p>Mabini Extension,</p>
            <p> Cabanatuan City 3118</p>
        </div>

    </div>

    <div class="phone">
        <div class="img">
            <img src="../../../assets/phone.png" alt="">
        </div>
        <div class="phone-details">
            <h4>Phone Number</h4>
            <p>0995-346-3754</p>
        </div> 
    </div>

    <div class="fax">
        <div class="img">
            <img src="../../../assets/fax.png" alt="">
        </div>
        <div class="fax-details">
            <h4>Fax</h4>
            <p>1-234-567-8900</p>

        </div>
    </div>

    <div class="email">
        <div class="img">
            <img src="../../../assets/email-white.png" alt="">
        </div>
        <div class="email-details">
            <h4>Email</h4>
            <p>rjjsscholarshipatgmail.com</p>

        </div>
    </div>
</div>

<div class="container2">
    <div class="contact">
        <h2>About Us</h2>
        <p>RJJS Scholarships is a committed educational opportunity provider that supports aspirant students in their quest for academic success. RJJS Scholarships was founded with the mission of ensuring that education is affordable for everyone. It provides a variety of need- and merit-based scholarships to help people fulfill their educational objectives. Our programs serve a wide range of academic disciplines, and we take great satisfaction in building an inclusive and varied community of academics. RJJS Scholarships aims to find and develop extraordinary talent through an open and equitable application procedure, making sure that worthy students' goals are not stifled by a lack of funds. We are dedicated to nurturing talent because we firmly think that education has the capacity to improve lives and because we want to see a more just and prosperous future.</p>
    </div>

</div>