<h1>Applications</h1>

<div class="navbar">
    <p>Sort by :</p>
    <input class="searchbar" type="text" placeholder="Search..">
</div>

<div class="container">
    <div class="titles">
        <p class="no">No.</p>
        <p class="firstname">First Name</p>
        <p class="lastname">Last Name</p>
        <p class="email">Email</p>
        <p class="phone">Phone Number</p>
        <p class="address">Address</p>
        <p class="scholarship">Scholarship</p>
    </div>

    <div class="datas">
        <p class="no-data">1</p>
        <p class="firstname">Aeron</p>
        <p class="lastname">Garcia</p>
        <p class="email-person">aerongarciaatgmail.com</p>
        <p class="phone">09217865431</p>
        <p class="address">Gapan, Nueva ECija</p>
        <p class="scholarship">Dost SCholarship</p>

        <button>Check</button>
        <button>Edit</button>
        <button>Delete</button>
    </div>
    

</div>
