.topnav {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
}

.topnav-first {
  flex: 1;
}
.topnav-first img {
  height: 100%;
}

.screen {
  display: flex;
  flex-direction: row;
  height: 860px;
  justify-content: space-between;
}

.details-container {
  width: 500px;
  border-color: 10px black;
  text-align: center;
  padding-top: 130px;
  margin-left: 70px;
}

.create {
  font-size: xx-large;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 100px;
}

.create-dets {
  font-size:16px;
  color: rgb(117, 116, 116);
  text-align: justify;
  justify-content:left;
  margin-left: 150px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 50px;
}

.email {
  text-align: justify;
  margin-left: 150px;
  margin-bottom: 5px;
}

.details-container .input {
  text-align:left;
  margin-left: 150px;
}

.details-container input {
  width: 290px;
  height: 30px;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
}


.picture-container {
  margin-top: 30px;
}

.picture-container img {
  width: 95%;
  height: 90%;
  margin-right: 50px;
}

.btn-email {
  margin-top: 40px;
  border: none;
  background-color: #00575e;
  color: white;
  width: 300px;
  height: 40px;
  border-radius: 30px;
}

.btn-facebook {
  margin-top: 10px;
  border: solid;
  background-color: white;
  color: #00575e;
  width: 300px;
  height: 40px;
  border-radius: 30px;
}

.btn-phone {
  margin-top: 10px;
  border: solid;
  background-color: white;
  color: #00575e;
  width: 300px;
  height: 40px;
  border-radius: 30px;
}

.title {
  display: grid;
  grid-template-columns: 125px 15px 130px;
  align-items: center;
  column-gap: 1rem;
}

.title::before, .title::after {
  content: "";
  height: 2px;
  background-color: black;
  display: block;
}